.entire {

}

.card1 {
    width: var(--title-width);
    transition: width 0.3s ease-in-out;
}

.card2 {
    width: var(--title-width);
    transition: width 0.3s ease-in-out;
}

.selector:hover .card1 {
    width: calc(var(--title-width) + var(--card-1-width) + 36px);
}

.selector:hover .card2 {
    width: calc(var(--title-width) + var(--card-1-width) + var(--card-2-width) + 72px);
}